﻿@using ConcertTicketApp.Utils;
@model PaginatedList<Ticket>

<div id="ticket-list">
    <h1 align="center">Tickets</h1>
    <div align="center">
        @if (Model.PageIndex > 3)
        {
            <a asp-route-page="@(Model.PageIndex - 3)"
               class="btn btn-default">
                ...
            </a>
        }
        @for (int pageIndex = Model.PageIndex - 2; pageIndex < Model.PageIndex + 3; pageIndex++)
        {
            if (pageIndex >= 1 && pageIndex <= Model.TotalPages)
            {

                <a asp-route-page="@pageIndex"
                   :class="{'btn btn-primary': '@(pageIndex == Model.PageIndex)' === 'True', 'btn btn-default': '@(pageIndex != Model.PageIndex)' === 'True'}">
                    @pageIndex
                </a>
            }
        }
        @if (Model.PageIndex < Model.TotalPages - 2)
        {
            <a asp-route-page="@(Model.PageIndex + 3)"
               class="btn btn-default">
                ...
            </a>
        }
    </div>
    <div class="table col-xs-12" style="overflow-x:auto;">
        <table style="width: 100%" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Price</th>
                    <th scope="col">Concert name</th>
                    <th scope="col">Concert address</th>
                    <th scope="col">Concert date</th>
                    <th scope="col">Type of concert</th>
                    <th scope="col" class="col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.Concert.Price</td>
                        <td>@ticket.Concert.Name</td>
                        <td>@ticket.Concert.Address</td>
                        <td>@ticket.Concert.Date.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@ticket.Concert.Discriminator</td>
                        <td>
                            <a class="btn btn-default" asp-action="UnBookTicket" asp-route-id="@ticket.Id">Unbook</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <div :class="alert" role="alert">
        {{alertMessage}}
    </div>
</div>

<script>
var ticketList = new Vue({
    el: '#ticket-list',
    data: function () {
        return {
            alertMessage: '@ViewData["Alert"]',
        }
    },
    computed: {
        alert: function () {
            return {
                'alert alert-danger col-xs-12': this.alertMessage === 'Error while unbooking',
                'alert alert-success col-xs-12': this.alertMessage === 'Unbooked ticket successed'
            }
        }
    },
    mounted: function() {
        var currentURL = window.location.href;
        var index = currentURL.indexOf("?alert=");
        if (index > -1) {
            window.history.replaceState(null, null, '/Ticket')
        }
        setTimeout(function () {
            ticketList.alertMessage = '';
        }, 3000);
    }
});
</script>
