﻿@model ConcertTicketApp.Models.Concert

@{
    ViewData["Title"] = "Details";
}

<div id="concert-detail" style="min-width: 300px;">
    <h2>Details</h2>
    <hr />
    <div class="col-md-4 col-xs-12">
        <div class="col-xs-12">
            <dl class="dl-horizontal" v-for="(value, key) in sortedArray">
                <dt>{{key}}</dt>
                <dd>{{value}}</dd>
            </dl>
        </div>
        <div class="col-xs-12">
            <span class="input-group-btn">

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a v-if="concert.tickets > 0" v-on:click="disabled = true" :class="{'btn btn-default': true, 'disabled': disabled}" asp-action="BookTicket" asp-route-concertId="@Model.Id">Book</a>
                }
                <a class="btn btn-default" asp-action="Index">Back</a>
            </span>
            <br />
        </div>
        <div :class="alert" role="alert">
            {{alertMessage}}
        </div>
        <br />
    </div>
    <div id="map" class="col-md-8 col-xs-12" style="height: 400px"></div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    var concertDetail = new Vue({
        el: '#concert-detail',
        data: function () {
            return {
                alertMessage: '@ViewData["BookingMessage"]',
                concert: @Html.Raw(Json.Serialize(Model)),
                filterInput: '',
                disabled: false
            }
        },
        computed: {
            sortedArray: function () {
                function compare(a, b) {
                    return 1;
                }
                var result = Object.keys(this.concert).sort().reduce((r, k) => (r[k] = this.concert[k], r), {});
                delete result["id"];
                date = new Date(result["date"]);
                result["date"] = date.toLocaleString("ru-RU", { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' });
                return result;
            },
            alert: function () {
                return {
                    'alert alert-danger col-xs-12': this.alertMessage === 'Sorry, booking a ticket was failed',
                    'alert alert-success col-xs-12': this.alertMessage === 'Booked sucksessfully'
                }
            }
        },
        mounted: function () {
            var currentURL = window.location.href;
            var index = currentURL.indexOf("?alert=");
            if (index > -1) {
                window.history.replaceState(null, null, '/Home/Details?id=' + this.concert.id)
            }
            setTimeout(function () {
                concertDetail.alertMessage = '';
            }, 3000);
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map("map", {
                    center: [53.9, 27.57],
                    controls: ['geolocationControl', 'fullscreenControl', 'zoomControl'],
                    zoom: 6
                });
                var myGeocoder = ymaps.geocode(@Html.Raw(Json.Serialize(Model.Address)));
                myGeocoder.then(
                    function (res) {
                        var coords = res.geoObjects.get(0).geometry.getCoordinates();
                        myMap.setCenter(coords, 14);
                        var myPlacemark = new ymaps.Placemark(coords);
                        myMap.geoObjects.add(myPlacemark);
                    });
            }
        }
    });
</script>