﻿@using ConcertTicketApp.Utils
@model ConcertTicketApp.Models.ViewModels.FullConcertViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />

@Html.Partial("EditingForm", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}