﻿@using ConcertTicketApp.Utils
@model ConcertTicketApp.Models.ViewModels.FullConcertViewModel

<div id="editing-form" class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model == null)
            {
                <div class="form-group">
                    <label>Type of concert</label>
                    <select asp-for="Discriminator" class="form-control" v-model="currentType">
                        <option v-for="type in concertTypes">{{type}}</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tickets"></label>
                <input asp-for="Tickets" class="form-control" />
                <span asp-validation-for="Tickets" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div v-if="currentType == 'ClassicMusicConcert'">
                <div class="form-group">
                    <label asp-for="CompositorName"></label>
                    <input asp-for="CompositorName" class="form-control" />
                    <span asp-validation-for="CompositorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VoiceType"></label>
                    <input asp-for="VoiceType" class="form-control" />
                    <span asp-validation-for="VoiceType" class="text-danger"></span>
                </div>
            </div>

            <div v-if="currentType == 'OpenAirConcert'">
                <div class="form-group">
                    <label asp-for="HeadLiner"></label>
                    <input asp-for="HeadLiner" class="form-control" />
                    <span asp-validation-for="HeadLiner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HowToGet"></label>
                    <input asp-for="HowToGet" class="form-control" />
                    <span asp-validation-for="HowToGet" class="text-danger"></span>
                </div>

            </div>

            <div v-if="currentType == 'PartyConcert'">
                <div class="form-group">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-group" role="group">
                <input type="submit" value="Save" class="btn btn-default" />
                @if (ViewData["Title"].Equals("Edit"))
                {
                    <a class="btn btn-default" asp-action="Index">Back</a>
                }
            </div>
        </form>
    </div>
</div>

<script>
    var editingForm = new Vue({
        el: '#editing-form',
        data: function () {
            return {
                concertTypes: @Html.Raw(Json.Serialize(ViewData["Types"])),
                currentType:
                    @if (ViewData["CurrentType"] == null)
                    {
                        @if (Model == null)
                        {
                            <text>'ClassicMusicConcert'</text>
                        }
                        else
                        {
                            <text>'@Model.Discriminator'</text>
                        }
                    }
                    else
                    {
                        <text>'@ViewData["CurrentType"]'</text>
                    }
            };
        }
    })
</script>