﻿@using ConcertTicketApp.Utils;
@model PaginatedList<Concert>
@{
    ViewData["Title"] = "Concerts";
}

<div id="concert-list" style="min-width: 300px;">
    <h1 align="center">Concerts</h1>
    @if (User.IsInRole("admin"))
    {
        <div align="center">
            <a asp-area="" asp-controller="Home" asp-action="Create" class="btn btn-default">Create concert</a>
        </div>
        <br />
    }
    <div class="container row">
        <div class="col-xs-12">
            <form :action="search()" method="get">
                <div class="input-group">
                    <div class="input-group-btn search-panel">

                        <select class="btn btn-default dropdown-toggle" v-model="filterBy">
                            <option>Name</option>
                            <option>Type</option>
                        </select>
                    </div>
                    <select v-if="filterBy === 'Type'" class="form-control" name="searchValue" v-model="currentFilter">
                        <option v-for="type in concertTypes">{{type}}</option>
                    </select>
                    <input v-if="filterBy === 'Name'" type="text" class="form-control" v-on:keydown="disableEnterClick($event)" name="searchValue" v-model="currentFilter" />
                    <span class="input-group-btn">
                        <button :type="searchSubmit" value="Search" :class="{'btn btn-default': true, 'disabled': currentFilter === ''}"><span class="glyphicon glyphicon-search"></span></button>
                        <a asp-action="Index" class="btn btn-default">Reset</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div align="center">
        @if (Model.PageIndex > 3)
        {
            <a asp-action="@ViewData["Action"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 3)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                ...
            </a>
        }
        @for (int pageIndex = Model.PageIndex - 2; pageIndex < Model.PageIndex + 3; pageIndex++)
        {
            if (pageIndex >= 1 && pageIndex <= Model.TotalPages)
            {

                <a asp-action="@ViewData["Action"]"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@pageIndex"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   :class="{'btn btn-primary': '@(pageIndex == Model.PageIndex)' === 'True', 'btn btn-default': '@(pageIndex != Model.PageIndex)' === 'True'}">
                    @pageIndex
                </a>
            }
        }
        @if (Model.PageIndex < Model.TotalPages - 2)
        {
            <a asp-action="@ViewData["Action"]"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 3)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                ...
            </a>
        }
    </div>
    <div class="table col-xs-12" style="overflow-x:auto;">
        <table style="width: 100%" class="table col-xs-12">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col"><a asp-action="@ViewData["Action"]" asp-route-page="@Model.PageIndex" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["NameSortParam"]">Name</a></th>
                    <th scope="col"><a asp-action="@ViewData["Action"]" asp-route-page="@Model.PageIndex" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["DateSortParam"]">Date</a></th>
                    <th scope="col"><a asp-action="@ViewData["Action"]" asp-route-page="@Model.PageIndex" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["PriceSortParam"]">Price</a></th>
                    <th scope="col">Available tickets</th>
                    <th scope="col">Type of concert</th>
                    @if (User.IsInRole("admin"))
                    {
                        <th scope="col" class="col-xs-1"></th>
                    }
                    else
                    {
                        <th scope="col" class="col-xs-1"></th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr v-for="concert in concerts">
                    <td><p class="ymaps-geolink" style="text-decoration: none; color: black">{{concert.address}}</p></td>
                    <td>{{concert.name}}</td>
                    <td>{{concert.date | dateFormat}}</td>
                    <td>{{concert.price}}</td>
                    <td>{{concert.tickets}}</td>
                    <td>{{concert.discriminator}}</td>
                    <td>
                        <span class="input-group-btn" role="group">
                            <a class="btn btn-default" :href="detailsLink(concert.id)">Details</a>
                            @if (User.IsInRole("admin"))
                            {
                                <a class="btn btn-default" :href="editLink(concert.id)">Edit</a>
                                <a class="btn btn-default" :href="deleteLink(concert.id)">Delete</a>
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div id="map" class="col-xs-12" style="height: 400px; width: 100%;"></div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    function getFormattedDate (dateString) {
        if (dateString) {
            date = new Date(dateString);
            return date.toLocaleString("ru-RU", { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' });
        }
    }

    Vue.filter('dateFormat', getFormattedDate);

    var concertList = new Vue({
        el: '#concert-list',
        data: function () {
            return {
                concerts: null,
                currentFilter: '@Html.Raw(ViewData["CurrentFilter"])',
                filterBy:
                    @if (ViewData["Action"].Equals("SearchByType"))
                    {
                        <text>'Type'</text>
                    }
                    else
                    {
                        <text>'Name'</text>
                    },
                map: null,
                concertTypes: @Html.Raw(Json.Serialize(Enum.GetNames(typeof(ConcertType.Types)))),
                coords: []
            }
        },
        watch: {
            filterBy: function () {
                if (this.filterBy === 'Name') {
                    this.currentFilter = '';
                }
                if (this.filterBy === 'Type') {
                    this.currentFilter = 'ClassicMusicConcert';
                }
            },
            coords: function () {
                if (this.coords.length != 0) {
                    setTimeout(setMarkers, 500);
                }

                function setMarkers() {
                    var xCoords = [];
                    var yCoords = [];
                    var myGeoObjects = [];
                    for (var i = 0; i < concertList.concerts.length; i++) {
                        if (concertList.concerts[i].coords[0] !== undefined && concertList.concerts[i].coords[0].length > 0) {
                            xCoords.push(concertList.concerts[i].coords[0][0]);
                            yCoords.push(concertList.concerts[i].coords[0][1]);
                            myGeoObjects.push(new ymaps.GeoObject({
                                geometry: {
                                    type: "Point",
                                    coordinates: concertList.concerts[i].coords[0]
                                },
                                properties: {
                                    clusterCaption: concertList.concerts[i].name,
                                    balloonContentBody: '<p>' + concertList.concerts[i].name + '</p>' + '<p>' + concertList.concerts[i].address + '</p>' + '<p>' + getFormattedDate(concertList.concerts[i].date) + '</p>'
                                }
                            }));
                        }
                    }
                    var xMax = getMaxOfArray(xCoords);
                    var yMax = getMaxOfArray(yCoords);
                    var xMin = getMinOfArray(xCoords);
                    var yMin = getMinOfArray(yCoords);
                    concertList.map.setBounds([[xMin, yMin], [xMax, yMax]], {
                        checkZoomRange: true,
                    });
                    var myClusterer = new ymaps.Clusterer(
                        { clusterDisableClickZoom: true }
                    );
                    concertList.map.geoObjects.removeAll();
                    myClusterer.add(myGeoObjects);
                    concertList.map.geoObjects.add(myClusterer);
                }

                function getMinOfArray(numArray) {
                    return Math.min.apply(null, numArray);
                }

                function getMaxOfArray(numArray) {
                    return Math.max.apply(null, numArray);
                }
            }
        },
        methods: {
            editLink: function (id) {
                return "/Home/Edit?id=" + id;
            },
            detailsLink: function (id) {
                return "/Home/Details?id=" + id;
            },
            deleteLink: function (id) {
                return "/Home/Delete?id=" + id;
            },
            search: function () {
                if (this.filterBy === "Name") {
                    return '/Home/SearchByName';
                } else {
                    return '/Home/SearchByType';
                }
            },
            disableEnterClick(event) {
                if (event.key == "Enter" && this.currentFilter == '') {
                    event.preventDefault()
                }
            }
        },
        computed: {
            searchSubmit: function () {
                if (this.currentFilter == '')
                    return 'button';
                return 'submit';
            }
        },
        created: function() {
            ymaps.ready(init);

            function init() {
                concertList.map = new ymaps.Map("map", {
                    center: [53.9, 27.57],
                    controls: ['geolocationControl', 'fullscreenControl', 'zoomControl'],
                    zoom: 6
                });
                concertList.concerts = @Html.Raw(Json.Serialize(Model));
                concertList.concerts.forEach(function (concert) {
                    var myGeocoder = ymaps.geocode(concert.address);
                    concert.coords = [];
                    myGeocoder.then(
                        function (res) {
                            try {
                                var coords = res.geoObjects.get(0).geometry.getCoordinates();
                                concert.coords.push(coords);
                                concertList.coords.push(coords);
                            } catch (err) {
                                concert.coords.push([]);
                                concertList.coords.push([]);
                            }
                        });
                });
            }
        }
    });
</script>